/*reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

/*navbar styles*/
header {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #e63946;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  transition: 0.3s ease;
}
nav ul li a:hover {
  color: #e63946;
}
/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 5%;
  gap: 40px;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #fff;
}

.hero-text p {
  color: #ddd;
  margin-bottom: 25px;
}

.hero img {
  width: 45%;
  border-radius: 10px;
  border: 2px solid #e63946;
}
* PRODUCTS */ .products {
  padding: 70px 5%;
  text-align: center;
}

.products h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #e63946;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.product-card {
  padding: 20px;
  border-radius: 10px;
  background: #111;
  border: 1px solid #222;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: #e63946;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
}

.product-card h3 {
  margin-bottom: 10px;
}

.product-card p {
  color: #e63946;
  font-weight: 600;
}

/* CTA SECTION */
.cta {
  background: #e63946;
  color: white;
  padding: 60px 5%;
  text-align: center;
}

.cta form {
  margin-top: 20px;
}

.cta input {
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 6px;
}

.cta button {
  padding: 12px 20px;
  background: #000;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.cta button:hover {
  background: #111;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px 0;
  background: #111;
  color: #aaa;
  margin-top: 40px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero img {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .cta input {
    width: 80%;
    margin-bottom: 10px;
  }

  .cta button {
    width: 80%;
  }
}
